---
import PageHeader from "../components/PageHeader.astro";
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="404 Page Not Found">
	<PageHeader title="404 Not Found" />
	<main>
		<p class="sub-heading">The page you are trying to reach cannot be found</p>
	</main>
</GlobalLayout>
