---
import PageHeader from "../components/PageHeader.astro";
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="My Blog">
	<PageHeader title="My Blog" />

	<main>
		<p class="sub-heading">
			This is my blog that I built using Astro and Solid Js. I will be writing a
			new blog post every week about what I have been working on.
		</p>
	</main>
</GlobalLayout>
