---
import { SolidCounter } from "../components/Counter";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<GlobalLayout>
	<Navbar />
	<main>
		<h1>Blog</h1>
		<SolidCounter client:load />
	</main>
	<Footer />
</GlobalLayout>
