---
import { SolidCounter } from "../components/Counter";
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout title="My Blog">
	<main>
		<h1>Blog</h1>
		<SolidCounter client:load />
	</main>
</GlobalLayout>
