---
import { SolidCounter } from "../components/Counter";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Navbar from "../components/Navbar.astro";
---

<GlobalLayout>
    <Navbar />
    <h1>Projects</h1>
    <SolidCounter client:load />
</GlobalLayout>    