---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import WaveSvg from "../components/svg/WaveSvg.astro";

import { getCollection } from "astro:content";
import { Project } from "../components/projects/Project";

const allProjects = await getCollection("projects");

const sortedProjects = allProjects.sort(
	(a: any, b: any) => b.data.date - a.data.date
);
---

<GlobalLayout title="My Projects">
	<header>
		<h1>Projects</h1>
		<p>
			This is a list of some of the projects I have done. Click on any project
			to learn more about it.
		</p>
	</header>
	<WaveSvg />
	<main>
		<section class="project-wrapper">
			{sortedProjects.map((project) => <Project p={project} />)}
		</section>
	</main>
</GlobalLayout>

<style lang="scss">
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
		padding-block: 4.5em;
		text-align: center;
		background: var(--header-gradient);
		h1 {
			color: var(--accent-color);
		}
	}

	.project-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		margin-inline: auto;
		width: clamp(0px, calc(100% - 2rem), 75rem);
		gap: 3em;
	}
</style>
