---
import { SolidCounter } from "../components/Counter";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<GlobalLayout title="My Projects">
	<h1>Projects</h1>
	<SolidCounter client:load />
</GlobalLayout>
