---
import { SolidCounter } from "../components/Counter";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<GlobalLayout title="My Projects">
	<header>
		<h1>Projects</h1>
		<p>
			This is a list of some of the projects I have done. Click on any project
			to learn more about it.
		</p>
	</header>
	<main></main>
</GlobalLayout>
