.background {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: -99999;
}

@media (prefers-reduced-motion: no-preference) {
    .mouse-circle {
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: var(--accent-color-background);
        width: 10vw;
        height: 11vw;
        opacity: 0.75;
        border-radius: 999vh;
        filter: blur(999px);
    }
}
