---
import WaveSvg from "./svg/WaveSvg.astro";

let { title } = Astro.props;
---

<header>
	<h1>{title}</h1>
</header>
<WaveSvg />

<style lang="scss">
	header {
		text-align: center;
		padding-block: 5rem 2rem;
		text-align: center;
		background: var(--header-gradient);
		h1 {
			color: var(--accent-color);
		}
	}
</style>
