---
import { CollectionEntry, getCollection } from "astro:content";
import GlobalLayout from "../../layouts/GlobalLayout.astro";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: project,
	}));
}

const { data, render, id } = Astro.props;
const { Content } = await render();
---

<GlobalLayout title={data.title}>
	<section class="project-about">
		<h1>{data.title}</h1>
		<img src={data.thumbnail} alt={data.title} />
		<Content />
		<a href="/projects"><i class="fa-solid fa-arrow-left"></i> Back to projects</a>
	</section>
</GlobalLayout>

<style lang="scss" is:global>
	.project-about {
		max-width: 900px;
		margin-inline: auto;
		margin-bottom: 4rem;
		h1 {
			text-align: center;
		}
		img {
			margin-block: 2rem 4rem;
		}
		h2 {
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 1em;
		}
		p {
			font-size: 1.25rem;
			line-height: 1.5em;
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}
</style>
