:root {
	font-family: "Ubuntu", sans-serif;

	--accent-color: #05d58a;

	--gradient-color: hsl(158, 95%, 43%, 10%);
}

/* css reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* end css reset */
html {
	color-scheme: dark;
	background-color: #121212;
	overflow-x: hidden;
}
