<header>
    <section>
        <h1>Kacey Kniffen</h1>
        <p>
            I’m a self-taught Freelance Web Developer who enjoys building websites and 
            experimenting with modern languages and frameworks, such as Solid Js and Astro,
             which I used to build this site.
        </p>
        <a href="/projects">View my projects</a>
    </section>
    <div></div>
</header>

<style lang="scss" scoped>
    h1 {
        font-size: 72px;
        font-weight: bold;
        color: var(--accent-color);
    }

    p {
        max-width: 75ch;
    }

    a {
        color: var(--accent-color);
        text-decoration: none;
        font-size: 20px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;

    }
</style>